<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/index.css">
    <title>gordochan.xyz</title>
</head>
<body>
    <h1>Bienvenido de vuelta, <%= user.user %></h1>

    <center><img id="banner" src="../public/banners/<%=banner%>"></center>

    <% console.log(banner) %> 
    <img src="../public/avatar/<%=user.avatar%>" id="avatar">
    <a href="/logout">logout</a>

    <form action="/changePfp" enctype="multipart/form-data" method="POST">
    <label for="avatar">Cambiar foto de perfil</label>
    <input type="file" name="avatar" accept="image/png, image/jpeg, image/gif">
    <button type="submit">Enviar</button>
    </form>
    
    <br>

    <p>SI LOS ESTILOS SE ROMPEN APRETA CTRL + F5 XD</p>
    <button id="cambiarFuente">CAMBIAR FUENTE</button>

    <br>

    <marquee><img src="../public/siteImages/GORDOCHAN TITLE.gif"></marquee>

    <br>


    <!---- FORM PARA POSTEAR ------->
    <form action="/post" enctype="multipart/form-data" method="POST">
        <label for="post">en qué está pensando <%= user.user %> ?</label><input type="text" name="content" id="text">
        <br>
        <label for="anonimo">Anónimo</label><input type="checkbox" name="anon" id="anontext">
        <br>
        <label for="image">Imagen</label><input type="file" name="image" accept="image/png, image/jpeg, image/gif" id="imageInput">
        <br>
        <button type="submit">postear</button>
    </form>

    <br>


    <% if(posts){ %>
        <% posts.forEach((p) =>{ %>
            <% if(!p.anonimo && !p.parent){ %>
            <div class="post">
                <div class="innerPost">
                <a href="./post/<%=p.post_id%>">>><%=p.post_id%></a><br>
                <img class="avatar" src="../public/avatar/<%=p.avatar %>">
                <p class="post_username"><%= p.user %></p>
                <p><%= p.date %><p>
                <p><%= p.content %></p>
                <% if(p.image){%>
                    <img class="img" src="../public/images/<%=p.image%>">
                    <%} %>
                </div>
            </div>
            <% }if(p.anonimo && !p.parent){ %>

                <div class="post">
                    <div class="innerPost">
                    <a href="./post/<%=p.post_id%>">>><%=p.post_id%></a><br>
                    <img class="avatar" src="../public/avatar/default.jpg">
                    <p class="post_username">Anónimo</p>
                    <p><%= p.date %><p>
                    <p><%= p.content %></p>
                    <% if(p.image){%>
                        <img class="img" src="../public/images/<%=p.image%>">
                        <%} %>
                    </div>
                </div>

    <% }})}else{ %>
        <h1>NO HAY POSTS TODAVÍA. SOYEZ LE PREMIER</h1>
   <% } %>
   <iframe src="https://www.retrogames.cc/embed/8962-kung-fu-master.html" width="600" height="450" frameborder="no" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no"></iframe>


<script src="../public/scripts/index.js"></script>
<script src="../public/scripts/randombanner.js"></script>
</body>

</html>