<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/index.css">
    <link rel="icon" href="../public/iconos/hueylewis.jpg" type="image/jpg">
    <title>gordochan.xyz</title>
</head>
<body>
    <h1>Bienvenido de vuelta, <%= user.user %></h1>

    <center><img id="banner" src="../public/banners/<%=banner%>"></center>
    <div>
        <img src="../public/avatar/<%=user.avatar%>" id="avatar">
        <a href="/logout">logout</a>

        <form action="/changePfp" enctype="multipart/form-data" method="POST">
        <label for="avatar">Cambiar foto de perfil</label>
        <input type="file" name="avatar" accept="image/png, image/jpeg, image/gif">
        <button type="submit">Enviar</button>
        </form>

        <form action="/updateInfo" method="POST">
            <label for="signature">Modificar firma</label>
            <input type="text" name="signature">
            <button type="submit">Enviar</button>
        </form>
    </div>



    <p>SI LOS ESTILOS SE ROMPEN APRETA CTRL + F5 XD</p>
    <div class="fixed">

        <div class="fixed_visible" id="fixedVisible">
            <a href="javascript:;" id="showMenu">▼</a>
        </div>

        <div class="fixed_menu" id="fixedMenu">
            <a href="javascript:;" id="postButton">✎</a>
            <a href="javascript:;" id="settingsButton">⚙</a>
            <a href="javascript:;" id="hideMenu">▲</a>
        </div>

        <div class="fixed_hidden" id="fixedHidden">
            <div class="settings" id="settings">
                <button id="cambiarFuente">CAMBIAR FUENTE</button>
                <button id="vista">CAMBIAR VISTA</button>
            </div>

            <form action="/post" enctype="multipart/form-data" method="POST" class='postear' id="postMenu">
                <label for="post">¿En qué está pensando <%= user.user %>?</label><textarea type="text" name="content" id="text"></textarea>
                <label for="anonimo">Anónimo</label><input type="checkbox" name="anon" id="anontext">
                <input type="file" name="image" accept="image/png, image/jpeg, image/gif" id="imageInput">
                <button type="submit">postear</button>
            </form>

        </div>
    </div>

    <div>
        <form action="/post" enctype="multipart/form-data" method="POST" id="postMenu"><br>
            <label for="post">¿En qué está pensando <%= user.user %>?</label><br><textarea type="text" name="content" id="text"></textarea><br>
            <label for="anonimo">Anónimo</label><input type="checkbox" name="anon" id="anontext"><br>
            <input type="file" name="image" accept="image/png, image/jpeg, image/gif" id="imageInput"><br>
            <button type="submit">postear</button>
        </form>
    </div>



    <marquee><img src="../public/siteImages/GORDOCHAN TITLE.gif"></marquee>


    <h2 id="insulto"><%= user.user %> ES GAY Y ESTÁ CONECTADO DESDE UN TELEFONO (DISPOSITIVO DE RASTREO VOLUNTARIO)</h2>

    <div>
    <% if(posts){ %>
        <% posts.forEach((p) =>{ %>
            <% if(!p.anonimo && !p.parent){ %>
            <div class="post">
                <div class="innerPost">
                    <a href="./post/<%=p.post_id%>">>><%=p.post_id%></a><br>
                    <img class="avatar" src="../public/avatar/<%=p.avatar %>">
                    <p class="post_username"><%= p.user %></p>
                    <p><%= p.date %><p>
                    <p><%= p.content %></p>
                    <% if(p.image){%>
                        <img class="img" src="../public/images/<%=p.image%>">
                        <%} %>
                </div>
                <% if(p.signature){ %>
                    <div class="signatureDiv">
                        <hr class="hr">
                        <span class="signatureDiv_signature"><%=p.signature%></span>
                    </div>
                <%} %>
            </div>
            <% }if(p.anonimo && !p.parent){ %>

                <div class="post">
                    <div class="innerPost">
                        <a href="./post/<%=p.post_id%>">>><%=p.post_id%></a><br>
                        <img class="avatar" src="../public/avatar/default.jpg">
                        <p class="post_username">Anónimo</p>
                        <p><%= p.date %><p>
                        <p><%= p.content %></p>
                        <% if(p.image){%>
                            <img class="img" src="../public/images/<%=p.image%>">
                            <%} %>
                    </div>
                </div>
            </div>

    <% }}) %>
    <div class="iterator">
        <% if(page !== 1 && page > 6){ %>
            <a href="/page/1"><<</a>
        <% } %>
        <% for(let i = page-5; i <= page+5; i++){ %>
            <% if (i <= 0){ %>
                <% i = 1 %>
           <% } %>
            <% if(i > lastPage && i !== 1){ %>
                <% break %>
           <% } %>
            <% if(i === page){ %>
                <span><%= i %></span>
            <% }else{ %>
                <a href="/page/<%=i%>"><%=i%></a>
            <% } %> 
    
        <%} %>
        <% if(page !== lastPage && page < lastPage-5){ %>
            <a href="/page/<%=lastPage%>">>></a>
        <% } %>
        </div>
<% }else{ %>
        <h1>NO HAY POSTS TODAVÍA. SOYEZ LE PREMIER</h1>
   <% } %>
   <iframe src="https://www.retrogames.cc/embed/8962-kung-fu-master.html" width="600" height="450" frameborder="no" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no"></iframe>


<script src="../public/scripts/index.js"></script>
<script src="../public/scripts/randombanner.js"></script>
</body>

</html>