<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/index.css">
    <title>DASHBOARD</title>
</head>
<body>
    <h1>SIEGENTLEMAN ESTE ES TU FIN</h1>

    <p>Bienvenido de vuelta, <%= user.user %></p>
    <img src="../public/avatar/<%=user.avatar%>" id="avatar">
    <a href="/logout">logout</a>

    <form action="/changePfp" enctype="multipart/form-data" method="POST">
    <label for="avatar">Cambiar foto de perfil</label>
    <input type="file" name="avatar" accept="image/png, image/jpeg, image/gif">
    <button type="submit">Enviar</button>
    </form>

    <form action="/post" method="POST">
        <label for="post">en qué está pensando <%= user.user %> ?</label>
        <input type="text" name="content">
        <button type="submit">postear</button>
    </form>



    <br>
    <p>SI LOS ESTILOS SE ROMPEN APRETA CTRL + F5 XD</p>
    <% if(posts){ %>
    <div id="posts">
        <% posts.forEach((p) =>{ %>
            <div class="post">
                <div class="innerPost">
                <img class="avatar" src="../public/avatar/<%=p.avatar %>"><span><%= p.user %></span>
                <span><%= p.date %><span><span><%=p.post_id%></span>
                <p><%= p.content %></p>
                </div>
            </div>
    </div>
    <% })}else{ %>
        <h1>NO HAY POSTS TODAVÍA. SOYEZ LE PREMIER</h1>
   <% } %>
   <iframe src="https://www.retrogames.cc/embed/8962-kung-fu-master.html" width="600" height="450" frameborder="no" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no"></iframe>



</body>
</html>