<!DOCTYPE html>
<html lang="en">
    <%- include("components/head", {style: 'board', icon: 'hueylewis', title: 'gordochan.xyz'}); %>
<body>
    <% if(board){ %>
        <a href="/boards/<%=board.short%>/">Volver...</a>
        <center><img id="banner" src="../public/banners/<%=banner%>"><br>
            <h1>/<%=board.short%>/ - <%=board.name%></h1>
        </center>
    <%}else{ %>
        <%- include("components/volver"); %>
    <%} %>
    <br>
    <marquee><img src="../public/siteImages/GORDOCHAN TITLE.gif"></marquee>

    <% if(board && post){ %>
    <form action="/post/board/<%=board.id%>/reply/<%=post.post_id%>" enctype="multipart/form-data" method="POST">
        <label for="post">responde algo</label><input type="text" name="content" id="text">
        <br>
        <label for="anonimo">Anónimo</label><input type="checkbox" name="anon" id="anontext">
        <br>
        <label for="image">Imagen</label><input type="file" name="image" accept="image/png, image/jpeg, image/gif" id="imageInput">
        <br>
        <button type="submit">responder</button>
    </form>
    <% } %>

<main>

    <% if(post){ %>
            <% if(!post.anonimo){ %>
            <div class="post">
                <div class="innerPost">
                <a href="../post/<%=post.post_id%>">>><%=post.post_id%></a><br>
                <img class="avatar" src="../public/avatar/<%=post.user.avatar %>">
                <a href="/profile/<%=post.user_id%>" class="post_username"><%= post.user.user %></a>
                <%if(post.parent){ %>
                    <p>Responde a: <a href="/post/<%=post.parent%>">>><%=post.parent%></a></p>
                   <% }%>
                <p><%= post.date %><p>
                <p><%= post.content %></p>
                <% if(post.image){%>
                    <img class="img" src="../public/images/<%=post.image%>">
                    <%} %>
                </div>
                <% if(admin){ %>
                    <a href="./deletepost/<%=post.post_id%>">Borrar</a>
                <%} %>
            </div>
            <% }else{ %>

                <div class="post">
                    <div class="innerPost">
                    <a href="../post/<%=post.post_id%>">>><%=post.post_id%></a><br>
                    <img class="avatar" src="../public/avatar/default.jpg">
                    <p class="post_username">Anónimo</p>
                    <%if(post.parent){ %>
                        <p>Responde a: <a href="/post/<%=post.parent%>">>><%=post.parent%></a></p>
                       <% }%>
                    <p><%= post.date %><p>
                    <p><%= post.content %></p>
                    <% if(post.image){%>
                        <img class="img" src="../public/images/<%=post.image%>">
                        <%} %>
                    </div>
                    <% if(admin){ %>
                        <a href="./deletepost/<%=post.post_id%>">Borrar</a>
                    <%} %>
                </div>
            <% } %>

                <% if(post.replies){ %>
                <% let replies = post.replies %>
                <% replies.forEach(r =>{ %>
                <% if(!r.anonimo){ %>

                    <div class="post">
                        <div class="innerPost">
                        <a href="../post/<%=r.id%>">>><%=r.id%></a><br>
                        <img class="avatar" src="../public/avatar/<%=r.avatar%>">
                        <a href="/profile/<%=r.user_id%>" class="post_username"><%= r.user %></a>
                        <p>Responde a: <a href="/post/<%=r.parent%>">>><%=r.parent%></a></p>
                        <p><%= r.date %><p>
                        <p><%= r.content %></p>
                        <% if(r.image){%>
                            <img class="img" src="../public/images/<%=r.image%>">
                            <%} %>
                        </div>
                    </div>

               <% }else{ %>
                <div class="post">
                    <div class="innerPost">
                    <a href="../post/<%=r.id%>">>><%=r.id%></a><br>
                    <img class="avatar" src="../public/avatar/default.jpg">
                    <p class="post_username">Anónimo</p>
                    <p>Responde a: <a href="/post/<%=r.parent%>">>><%=r.parent%></a></p>
                    <p><%= r.date %><p>
                    <p><%= r.content %></p>
                    <% if(r.image){%>
                        <img class="img" src="../public/images/<%=r.image%>">
                        <%} %>
                    </div>
                </div>
               <%} %>


                <%  }) %>     
               <% } %>

    <% }else{ %>
        <h1>ESE POST NOE XISTE XD</h1>
   <% } %>
   <%- include("components/chat.ejs") %>
</main>
</body>
</html>